body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo-container {
  height: 200px;
  width: 200px;
  background: rgb(0, 0, 0);
  border-radius: 24px;
  position: relative;
  transform: rotate(45deg);
}

.candle {
  position: absolute;
  width: 15px;
  border-radius: 3px;
}

.left {
  transform: translate(-5px, 40px);
}

.right {
  transform: rotate3d(0, 1, 0, 180deg) translate(-5px, 40px);
  transform-origin: 100px 0;
}
.w {
  transform: rotate(-45deg) translate(-70px, -50px);
}
.lg {
  left: 30%;
  top: 100px;
  height: 100px;
  background: rgb(0, 93, 231);
  transform: rotate(-30deg) translate(18px, -35px);
}

.sm {
  left: 68px;
  top: 140px;
  height: 60px;
  width: 10px;
  background: rgb(14, 91, 255);
  transform: rotate(24deg) translate(6px, -55px);
  z-index: -1;
}

.lg:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -21px;
  height: 20px;
  width: 1px;
  background: white;
  transform: translateX(-50%);
}
